*.o
*.obj
*.exe
*.out

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log
*.tmp

.vs/

.vs/
*.suo
*.db
*.pdb
*.ilk
*.idb
*.tlog/
*.exe.recipe
*.lastbuildstate
*.log
*.obj
*.exe
*.cache
*.user
*.VC.db
*.json